body {
    background-color: #000;
}

#stars {
	background: none;
	background-image: url('../images/stars.png');
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:-1;
	-webkit-animation: stars 15s linear infinite;
	-moz-animation: stars 15s linear infinite;
	-ms-animation: stars 15s linear infinite;
	animation: stars 15s linear infinite;
}
/* stars change position over 10 seconds. -JB */
@keyframes stars {
    0% {background-position: 0px 0px;}
    25% {background-position: -500px 500px;}
    50% {background-position: -1000px 1000px;}
    75% {background-position: 1000px 500px;}
    100% {background-position: 0px 0px;}
}
@-moz-keyframes stars {
    0% {background-position: 0px 0px;}
    25% {background-position: -500px 500px;}
    50% {background-position: -1000px 1000px;}
    75% {background-position: 1000px 500px;}
    100% {background-position: 0px 0px;}
}
@-webkit-keyframes stars {
    0% {background-position: 0px 0px;}
    25% {background-position: -500px 500px;}
    50% {background-position: -1000px 1000px;}
    75% {background-position: 1000px 500px;}
    100% {background-position: 0px 0px;}
}
@-ms-keyframes stars {
    0% {background-position: 0px 0px;}
    25% {background-position: -500px 500px;}
    50% {background-position: -1000px 1000px;}
    75% {background-position: 1000px 500px;}
    100% {background-position: 0px 0px;}
}

#death_star {
	background: none;
	background-image: url('../images/death_star.png');
    background-repeat: repeat-y;
	height: 100%;
	right: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index:-1;
	-webkit-animation: deathstar 15s linear infinite;
	-moz-animation: deathstar 15s linear infinite;
	-ms-animation: deathstar 15s linear infinite;
	animation: deathstar 15s linear infinite;
}
/* deathstar change position over 15 seconds. -JB */
@keyframes deathstar {
    0% {background-position: 0px 0px;}
    25% {background-position: -10vw 25vh;}
    50% {background-position: -20vw 100vh;}
    77% {background-position: 200vw -25vh;}
    100% {background-position: 0px 0px;}
}
@-moz-keyframes deathstar {
    0% {background-position: 0px 0px;}
    25% {background-position: -10vw 25vh;}
    50% {background-position: -20vw 100vh;}
    77% {background-position: 200vw -25vh;}
    100% {background-position: 0px 0px;}
}
@-webkit-keyframes deathstar {
    0% {background-position: 0px 0px;}
    25% {background-position: -10vw 25vh;}
    50% {background-position: -20vw 100vh;}
    77% {background-position: 200vw -25vh;}
    100% {background-position: 0px 0px;}
}
@-ms-keyframes deathstar {
    0% {background-position: 0px 0px;}
    25% {background-position: -10vw 25vh;}
    50% {background-position: -20vw 100vh;}
    77% {background-position: 200vw -25vh;}
    100% {background-position: 0px 0px;}
}

#fighters {
	background: none;
	background-image: url('../images/tie_fighters.png');
    background-repeat: no-repeat;
	height: 150%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 150%;
	z-index: 5;
	-webkit-animation: fighters 15s linear infinite;
	-moz-animation: fighters 15s linear infinite;
	-ms-animation: fighters 15s linear infinite;
	animation: fighters 15s linear infinite;
}
/* fighters change position over 15 seconds. -JB */
@keyframes fighters {
    0% {background-position: 0px 0px;}
    25% {background-position: 100vw -100vh;
    transform: rotateY(180deg);}
    50% {background-position: 250vw 150vh;}
    75% {background-position: -100vw 50vh;}
    100% {background-position: 0px 0px;}
}
@-moz-keyframes fighters {
    0% {background-position: 0px 0px;}
    25% {background-position: 100vw -100vh;
    transform: rotateY(180deg);}
    50% {background-position: 250vw 150vh;}
    75% {background-position: -100vw 50vh;}
    100% {background-position: 0px 0px;}
}
@-webkit-keyframes fighters {
    0% {background-position: 0px 0px;}
    25% {background-position: 100vw -100vh;
    transform: rotateY(180deg);}
    50% {background-position: 250vw 150vh;}
    75% {background-position: -100vw 50vh;}
    100% {background-position: 0px 0px;}
}
@-ms-keyframes fighters {
    0% {background-position: 0px 0px;}
    25% {background-position: 100vw -100vh;
    transform: rotateY(180deg);}
    50% {background-position: 250vw 150vh;}
    75% {background-position: -100vw 50vh;}
    100% {background-position: 0px 0px;}
}

#xwings {
	background: none;
	background-image: url('../images/x_wing_1.png'), url('../images/x_wing_2.png'), url('../images/x_wing_3.png');
    background-repeat: no-repeat;
	height: 150%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 150%;
	z-index: 5;
	-webkit-animation: xwings 15s linear infinite;
	-moz-animation: xwings 15s linear infinite;
	-ms-animation: xwings 15s linear infinite;
	animation: xwings 15s linear infinite;
}
/* xwings change position over 15 seconds. -JB */
@keyframes xwings {
    0% {background-position: 0px 0px;}
    15% {transform: rotateY(360deg);}
    25% {background-position: 50vw -50vh, 54vw -51vh, 60vw -60vh;}
    50% {background-position: 60vw 50vh, 70vw 50vh, 65vw 52vh;}
    75% {background-position: 60vw -25vh, 55vw -40vh, 50vw -70vh;}
    100% {background-position: 0px 0px;}
}
@-moz-keyframes xwings {
    0% {background-position: 0px 0px;}
    15% {transform: rotateY(360deg);}
    25% {background-position: 50vw -50vh, 54vw -51vh, 100vw -100vh;}
    50% {background-position: 100vw 50vh, 110vw 50vh, 100vw 52vh;}
    75% {background-position: 60vw -25vh, 55vw -40vh, 50vw -70vh;}
    100% {background-position: 0px 0px;}
}
@-webkit-keyframes xwings {
    0% {background-position: 0px 0px;}
    15% {transform: rotateY(360deg);}
    25% {background-position: 50vw -50vh, 54vw -51vh, 100vw -100vh;}
    50% {background-position: 100vw 50vh, 110vw 50vh, 100vw 52vh;}
    75% {background-position: 60vw -25vh, 55vw -40vh, 50vw -70vh;}
    100% {background-position: 0px 0px;}
}
@-ms-keyframes xwings {
    0% {background-position: 0px 0px;}
    15% {transform: rotateY(360deg);}
    25% {background-position: 50vw -50vh, 54vw -51vh, 100vw -100vh;}
    50% {background-position: 100vw 50vh, 110vw 50vh, 100vw 52vh;}
    75% {background-position: 60vw -25vh, 55vw -40vh, 50vw -70vh;}
    100% {background-position: 0px 0px;}
}